#backdrop {
  overflow:hidden;
   position: relative;
   margin-bottom:20px;
}

#backdrop img {
  width:100%;
  max-width:100%;
  clip: inherit;
}

#movie-genre {
  margin-right:2px;
}

h2#movie-title {
   position: absolute;
   top: 200px;
   left: 0;
   width: 100%;
}

h2#movie-title span {
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: -1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
}

h2#movie-title tagline {
  font: bold 18px/45px Helvetica, Sans-Serif;
}

h2#movie-title span.spacer {
   padding:0 5px;
}

span.badge {
  margin:2px;
}
